body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient( #263149 50%, #cad3e6 50%);
}

h1 {
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 36px;    
}
.phone {
    margin: 10px;
    width: 30px;
    
}
a {
    color: #ff3819;
}
.container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    margin-top: 50px;
}

.column {
    align-items: center;
}

img {
    width: 215px;
    height: 185px;
    margin-bottom: 10px;
    
}
.a {
    display: flex;
}


.image-container {
    text-align: center;
    position: relative;
    padding: 10px 10px 0 10px;

}


.text {
    color: white;
    font-weight: bolder;
    font-size: 33px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}
h3 {
    text-align: center;
    height: 5%;
    font-style: italic;
}
.link {
    color: black;
    margin-left: 10px;
}
.mini {
    top: 40%;
    left: 50%;
}
#big-img {
    width: 450px;
    height: 400px;
}
#fix {
    
}